@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xblur');
  src:  url('fonts/icomoon.eot?xblur#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xblur') format('truetype'),
    url('fonts/icomoon.woff?xblur') format('woff'),
    url('fonts/icomoon.svg?xblur#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-html-tag:before {
  content: "\ea80";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-codepen:before {
  content: "\eae8";
}
